	body
		{
			background-image:url(Irrigação.jpg);
			background-attachment:fixed;
			background-size:100%;
			background-repeat:no-repeat;
			background-color: rgb(96, 99, 96);

		}

		h1{
			color:rgb(109, 228, 162);
			text-align:center;
		}

		p
		{
			font-family:verdana;
			font-size:20px;
		}

		form 
		{
			font-family:verdana;
			font-size:20px;
			background-image:url(centro.jpg);
			border-radius: 40%;
		}

		label,input 
		{
			margin-bottom: 10px;
			color: rgb(177, 11, 177);
		}

		div 
		{
			width: 100% ;
			height: 20px;
			display: inline-block;
		}

		#container-a 
		{
			background-color: red;
		}

		#container-b 
		{
			background-color: rgb(98, 98, 112);
		}

		.titulocontato
		{
			color: red;
		}

		.formulario{
		background-color: rosybrown;
		}